.modal-messages{min-width: 500px;}
.conteiner-message{margin: 3px 0;}
.conteiner-message .info{background: #FFFFE0; border-color: #EEE8AA; color: #4F4F4F; border: 1px solid #CDAD00}
.inner-conteiner-message{padding: 10px; margin: 10px 0;}
.icon-conteiner-message{margin: 0 3px; float: left;}
.overlay-download {position: absolute;left: 0px;top: 0px;width:100%;height:100%; text-align:center; z-index: 1000;}
.overlay-download .content{font-size: 14px; width:150px; background-color: #fff; border:1px solid #9C9C9C; padding:15px; text-align:center;  position: fixed; top: 50%;left: 50%; margin-top: -50px; margin-left: -100px;}
.overlay-download .content p{margin: 3px 0; color:#9C9C9C; font-weight: bold;}
.x-loading-image {background: url("#{resource['xpert:images/loading.gif']}") no-repeat;  display: block; padding: 0; height: 30px; width: 30px;}
.hidden{display: none;}
.datatable-auditing{}
.datatable-auditing td{font-size: 11px;}
.datatable-auditing .ui-datatable-summaryrow{display: none;}
.datatable-auditing .ui-datatable-summaryrow td{font-size: 11px; font-weight: normal;}
.legends-item{font-size: 9px !important; font-weight: normal !important; margin-bottom: 1px; width: 62px; border: 0 !important;}
.panel-calendar-filter{width: 140px;margin: 0 auto;}
.panel-calendar-filter table td{padding: 0 !important; border: 0 !important;}
.panel-calendar-filter > table {table-layout: auto;}
.panel-calendar-filter .ui-inputfield {width: 55px;}
.panel-calendar-filter .calendar-filter{white-space: nowrap;}
.calendar-filter{}
.calendar-filter input{width: 70px;padding: 2px; }
.uix-center{text-align: center;}
.uix-datatable-index{text-align: center;width: 1%}
.uix-datatable-actions{text-align: center;width: 1%}
.uix-legends{white-space: normal;margin: 0 auto;}
.uix-legends-grid, .uix-legends-grid td{border: 0 !important;}









